---
#maybe1
---
$primary_back_color:black;
$primary_font_color:white;
$first-color:black;
$second-color:white;
$third-color:purple;
$link-padding:14px;

@mixin link-style {
  $text-decor-underline:underline;
  text-decoration: $text-decor-underline;
}



/*--BB  Universals--*/
/*--BB  Universals--*/
/*--BB  Universals--*/

body,
html {
  margin:0;
  padding:0;
}
body{
  background: #ffffff;
  color: #000000;
  font-family: times, sans-serif;
  font-size: 9px;
}


a {color: black ;text-decoration:none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

h1{color:black;font-size:10.5px;font-weight:normal;margin:0;padding:0;}
h2{color:black;font-size:11.5px;font-weight:normal;margin:0;padding:0;}

ul{ list-style-type:none;}

.rightfloat{float:right;}
.leftfloat{float:left;}


/*--EE  Universals--*/
/*--EE  Universals--*/
/*--EE  Universals--*/









/*--BB  the Big Boys--*/
/*--BB  the Big Boys--*/
/*--BB  the Big Boys--*/

.main_container{
    background:none;
    width:600px;
    margin:0 auto;
    margin-bottom:100px;
    padding:0;
}


/*--EE  the Big Boys--*/
/*--EE  the Big Boys--*/
/*--EE  the Big Boys--*/












/*--BB  Header & footer--*/
/*--BB  Header & footer--*/
/*--BB  Header & footer--*/


  #logoheader{
    background:none;
    width:100%;
    margin:0px auto;
    margin-top:4px; /* this is from top of actual page */
    /*margin-bottom:40px;*/
    #logo{
      width:200px;margin:0 auto;
      img{display:block;margin:auto;}
    }  /* EE #logo */
  }  /* EE #logoheader */


#header_holder{
  background:none;position:relative;z-index:99;height:10px;width:600px;margin:0 auto;padding:0;




   /*----------------BB Menu--*/
   /*----------------BB Menu--*/

.menu3{width:100%;margin-top:175px;height:25px;line-height:35px;background:none;margin:0;margin-bottom:37px;padding:0;}
.menu3 ul {margin:0;padding:0;}
.menu3 ul li {float:left;height:25px;}
.menu3 ul .about {width:45%;background:none;text-align:right;text-indent:30px;}
.menu3 ul .contact {width:15%;margin-left:5%;background:none;text-align:left;text-indent:30px;}

   /*----------------EE Menu--*/
   /*----------------EE Menu--*/


/* put men here before end logo header */
} /* EE #header_holder------------------------------------------------------------------------------------------ */



#footer{background:none;width:100%;height:50px;clear: right;}

/*--EE  Header & footer--*/
/*--EE  Header & footer--*/
/*--EE  Header & footer--*/





















/*--BB Big Image--*/
/*--BB Big Image--*/
/*--BB Big Image--*/

.arrow_right {
  margin-top:1px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}

.big_image_info_holder{background:none;width:98%;margin:0 auto;height:15px;clear:left;}
.big_image_info{background:none;}

#big_image {
  background:none;position:relative;z-index:1;
  img{width:100%;}
  .positioner{width:590px;margin:0 auto;position:relative}
}

.big_image_siblings_below{margin-top:30px;}
/*--EE Big Image--*/
/*--EE Big Image--*/
/*--EE Big Image--*/









/*--BB  Thumbnails--*/
/*--BB  Thumbnails--*/
/*--BB  Thumbnails--*/
#thumb_holder{background:blue;width:100%;}
ul.thumbnails {list-style-type:none;background:red; margin:0 auto;padding:0;}
ul.thumbnails li {background:none;height:110px;width:140px;margin-left:5px;margin-right:5px;margin-top:50px;float:left;text-align:center;}


.thumbnails{
  .mask {
    overflow:hidden;
    width:135px;
    height:100px;
    margin:0px auto;
    margin-bottom:14px;
  }
  .caption{background:none;height:150px;line-height:50x;font-size:11px;}
}


   /*----------------BB Thumbnail cropping--*/
   /*----------------BB Thumbnail cropping--*/

.banana {
  object-fit: cover;
  object-position: 10% 70%;
  width:200px;
  height:200px;
}
.perrier {
  object-fit: cover;
  object-position: 50% 50%;
  width:250px;
  height:250px;
}
.pigeon {
  object-fit: cover;
  object-position: 50% 50%;
  width:230px;
  height:230px;
}
.bottles {
  object-fit: cover;
  object-position: 50% 50%;
  width:370px;
  height:210px;
}
.trippyphone {
  object-fit: cover;
  object-position: 20% 50%;
  width:200px;
  height:200px;
}
.skate {
  object-fit: cover;
  object-position: 90% 10%;
  width:200px;
  height:200px;
}
.pingpong {
  object-fit: cover;
  object-position: 50% 50%;
  width:250px;
  height:250px;
}
   /*----------------EE Thumbnail cropping--*/
   /*----------------EE Thumbnail cropping--*/



/*--EE  Thumbnails--*/
/*--EE  Thumbnails--*/
/*--EE  Thumbnails--*/




   /*-----------------------################------#######------#######---------------------########--------------------------*/
   /*-----------------------################------########------#######---------------------#########------------------------*/
   /*-----------------------#####-----------------#########----########---------------------#####--#####---------------------*/
   /*-----------------------#####-----------------#####-#####---##########-------------------#####---###---------------------*/
   /*-----------------------#####-----------------#####--#####---###--######----------------#####-----####-------------------*/
   /*-----------------------################------#####---#####---#######---------------------#####----#####-----------------*/
   /*-----------------------################------#####----#####--#######---------------------#####-----######---------------*/
   /*-----------------------#####-----------------#####-----#####   ###---------------------#####------#####-----------------*/
   /*-----------------------#####-----------------#####------#####-####------------------#####---------###-------------------*/
   /*-----------------------#####-----------------#####-------#########------------------#####---------#####-----------------*/
   /*-----------------------################------#####--------########--------------------#####---######--------------------*/
   /*-----------------------################------#####---------#######---------------------########-------------------------*/
   /*-----------------------################------#####---------#######---------------------######---------------------------*/




/*---BB Media Queries --*/
/*---BB Media Queries ------idont know where exactly to put ..but if this is at top ..menu dont show-------------------*/
/*---BB Media Queries --*/

@media screen and (max-width:680px) {


  #header_holder{width:90vw;height:12.5vw;}
  #logo img {height:12.5vw;}


   /*----------------BB Menu--*/
   /*----------------BB Menu--*/

.menu3{width:90vw;margin-top:175px;height:25px;line-height:35px;background:none;margin:0;margin-bottom:30px;padding:0;}
.menu3 ul {margin:0;padding:0;}
.menu3 ul li {float:left;height:25px;}
.menu3 ul .about {width:46%;background:none;text-align:right;}
.menu3 ul .contact {width:15%;margin-left:7%;background:none;text-align:left;}

   /*----------------EE Menu--*/
   /*----------------EE Menu--*/


  .main_container{ background:none;width:90vw;height:auto;margin:0 auto;padding:0;}


   /*----------------BB Thumbnails--*/
   /*----------------BB Thumbnails--*/

#thumb_holder{background:none;width:90vw;margin:0 auto;}
ul.thumbnails {list-style-type:none;background:none;  margin:0 auto;padding:0;}
ul.thumbnails li {background:none;height:14vw;width:20vw;margin-right:1.2vw;margin-left:1.2vw; margin-top:50px;float:left;text-align:center;}

.thumbnails{
  .mask {
    overflow:hidden;
    width:19vw;
    height:14vw;
    margin:0px auto;
    margin-bottom:2em;/*--to force down title--*/
  }
  .caption{background:none;margin-top:0px;height:150px;line-height:50x;font-size:11px;}
}
/*--EE  Thumbnails--*/
/*--EE  Thumbnails--*/
/*--EE  Thumbnails--*/


  .big_image_info{background:none;width:82vw;}
  #big_image {
    margin:0;padding:0;
    /*img{width:96vw;}*/
   .positioner{width:90vw;position:relative;background:none;margin:0 auto;padding:0;}
  }/* end #big_image */


} /* end media */














/* Landscape */
@media screen and (orientation:landscape)

and (max-device-width: 680px) {
   ul.topnav{/*background:green;*/}
}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;  transition: 3s ease-out;

  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:680px) {

  #masterscrollcontainer{
    margin-left:0px;
    width: 100%;
   /* background:orange;*/}

}

@media screen and (min-width:680px) {


  #masterscrollcontainer{
    margin-left:200px;
    width: calc(100% - 200px);
   /* background:blue;*/}
    .block{
     min-width:40vw; max-width:60vh;position:relative;margin:60 auto !important;background:red;

  }

}
/*-------------------------------EEEee Media Queries -------------------------*/
