---
#maybe1
---

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

body{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(245,245,245,1)), color-stop(72%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
}

* { box-sizing: border-box; }
  
html {
  overflow-y: scroll; /* force scrollbar, prevents initial gap */
}

body { font-family: Sans-Serif;margin:0;background:yellow;}

  ul{list-style-type:none;} 
  a {cursor:pointer;}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB grid ----------------------------------------*/ 
/*------------------------------------------------ BBB grid ----------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/
.grid {
  background: none;
  width:90%;margin:0 5%;margin-bottom:100px
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
  
.gutter-sizer { width: 4%; }
  
.grid-item {
  overflow:hidden;    
  float: left;
  height: 350px;
  background: #C09;
  /*border: 1px solid black;border-inset:10px;  */
}





/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE grid ----------------------------------------*/ 
/*------------------------------------------------ EEE grid ----------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB media queries -------------------------------*/ 
/*------------------------------------------------ BBB media queries -------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

@media only screen and (max-width: 1480px) and (min-width: 760px) {
  .grid-sizer,
  .grid-item {
    width: 30.65%;
  }
} 


@media only screen and (max-width: 760px) and (min-width: 450px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
} 

@media only screen and (max-width: 450px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .image_boob{background:orange;width:100% !important;margin:0 !important;}
  .image_boob img{width:100% ;}
  .image_boob .tall, .image_boob .wide{width:100% !important;margin:0 !important;}
} 

/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE media queries -------------------------------*/ 
/*------------------------------------------------ EEE media queries -------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB big image -----------------------------------*/ 
/*------------------------------------------------ BBB big image -----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 



.big_image{
  position:absolute !important;
  top:0;
  height: auto;
  background: pink;
  text-align:center; 
  background:none;
  width:80%;
  margin:0 10%;
  display:block;
  transition:0;
  .tall{
    width:60%;
    margin:0 20%;
    display:block;
    background:none;
   }
  .wide{
    width:90%;
    margin:0 5%;
    display:block;
    background:none;
  }
}  


.big_image img{width:100%;margin:0;}

.big_image p{
  background:white;
-webkit-box-shadow: inset 0px 0px 27px 20px rgba(255,255,0,1);
-moz-box-shadow: inset 0px 0px 27px 20px rgba(255,255,0,1);
box-shadow: inset 0px 0px 27px 20px rgba(255,255,0,1);
  
  padding:29px;
}

.big_image .tall p{width:110%;margin:30px -5%;margin-bottom:100px;height:150px;text-align:left;}  
.big_image .wide p{width:110%;margin:30px -5%;height:150px;text-align:left;}  

/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE big image -----------------------------------*/ 
/*------------------------------------------------ EEE big image -----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB top menu ------------------------------------*/ 
/*------------------------------------------------ BBB top menu ------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

.fadein_text{display:none;}
.hide{display:none}

/*--------------------- BBB .menu_bar ------------------*/
/*--------------------- BBB .menu_bar ------------------*/



/*--------------------- EEE .menu_bar ------------------*/ 
/*--------------------- EEE .menu_bar ------------------*/ 
$transition_speed: .5s;



.menu_bar {
  background:blue;
  height:40px;
  width:90%;
  margin:30px 5% 150px 5%;
  position:relative;
  transition: $transition_speed;
} 

.menubar_xpand {
 /* height: 300px !important;  */
  border-bottom:1px solid black;
  transition:height $transition_speed;
}
  
.menu_bar .logo{
  position:relative;
  z-index:99;
  float:left;
  margin:0;
  margin-left:10px;
  width:30%;
  height:40px;
  background:none;
  line-height:40px
}


.menu {
  position:relative;
  z-index:99;
  float:right;
  margin:0;
  margin-right:0;
  width:60%;min-width:250px;
  height:40px;
  background:none;
  line-height:40px
}

.menu_bar .menu li {
  font-family: 'Shadows Into Light', cursive;
  float:right;background:none;width:60px;margin-right:5%;font-size:20px;text-align:center;
}
  
#menu_wrapper { 
  position:absolute;
  bottom:-40px;
  right:10px;
  width:100%;
}
  
.contact_hidden{height:83%;width:100%;margin:0;}
.about_hidden{height:83%;width:100%;margin:0;}
  
.about_hidden ul {background:none;width:100%;height:100%;margin:0;padding:0;}
  
.about_hidden ul li{
  background:white;
  height:85%;margin-top:10px; transition:height $transition_speed;
}
   
.about_hidden ul li img{
  height:100%;max-height:200px;
  margin:2% auto;
} 

.about_hidden .right{
  background:none;border:none;
  position:absolute;
  margin-left: calc(200px + 5%);
  width: calc(92% - 200px);
  p{margin:10px;text-indent:5px;}
}
.about_hidden .right .fadein{margin:10px 5%;background:none;/*line-height:35px;*/}

.about_hidden .left{
  background:none;
  position:absolute;
  margin-left:5%;
  width:200px;
  display:visible;
}

/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE top menu ------------------------------------*/ 
/*------------------------------------------------ EEE top menu ------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB animations ----------------------------------*/ 
/*------------------------------------------------ BBB animations ----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

.outaline {
  outline: 1px solid grey; 
  outline-inset:10px;
} 
  
.rumble:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}
  
  
/*.parent:hover, .box:hover, .rumble:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}
  */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE animations ----------------------------------*/ 
/*------------------------------------------------ EEE animations ----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
        /*--*/
       /*--*/
      /*--*/
     /*--*/
    /*--*/
   /*--*/
  /*--*/
 /*--*/
/*------------------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------################------#######------#######---------------------########--------------------------*/
/*-----------------------################------########------#######---------------------#########------------------------*/
/*-----------------------#####-----------------#########----########---------------------#####--#####---------------------*/
/*-----------------------#####-----------------#####-#####---##########-------------------#####---###---------------------*/
/*-----------------------#####-----------------#####--#####---###--######----------------#####-----####-------------------*/
/*-----------------------################------#####---#####---#######---------------------#####----#####-----------------*/
/*-----------------------################------#####----#####--#######---------------------#####-----######---------------*/
/*-----------------------#####-----------------#####-----#####   ###---------------------#####------#####-----------------*/
/*-----------------------#####-----------------#####------#####-####------------------#####---------###-------------------*/
/*-----------------------#####-----------------#####-------#########------------------#####---------#####-----------------*/
/*-----------------------################------#####--------########--------------------#####---######--------------------*/
/*-----------------------################------#####---------#######---------------------########-------------------------*/
/*-----------------------################------#####---------#######---------------------######---------------------------*/



@media only screen and (max-width: 400px) {
  
 
  

  .menu_bar {
background:red !important;
  } 
  
.big_image{
  width:98%;
  margin:0 1%;
   .tall{
     width:100%;
     margin:0;
   }
   .wide{
     width:100%;
     margin:0;
   }
 }  
.menu {
  background:purple  !important;
  position:relative;
  z-index:99;
  float:right;
  margin:0;
  margin-right:0 !important;
  width:30%  !important;min-width:190px  !important;
  height:40px;
  background:none;
  line-height:40px
}
}


@media only screen and (min-width: 800px) {
  .menubar_xpand {height:270px !important;}
}
@media only screen and (max-width: 800px) {
  .menubar_xpand {height:290px !important;}
}
@media only screen and (max-width: 700px) {
  .menubar_xpand {height:320px !important;}
}
@media only screen and (max-width: 600px) {
  .menubar_xpand {height:350px !important;}
}
@media only screen and (max-width: 550px) {
  .menubar_xpand {height:390px !important;}
}
@media only screen and (max-width: 500px) {
  .menubar_xpand {height:300px !important;}
  .about_hidden .left{display:none;}
 .about_hidden .right{background:none;position:absolute;margin:0 auto;width:100%;}
}
@media only screen and (max-width: 400px) {
  .menubar_xpand {height:300px !important;}
  .about_hidden .left{display:none;}
 .about_hidden .right{background:none;position:absolute;margin:0 auto;width:100%;}
}

