---
#maybe1
---

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



body{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(245,245,245,1)), color-stop(72%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 72%, rgba(255,255,255,1) 100%);
}

* { box-sizing: border-box; }
  
html {
  overflow-y: scroll; /* force scrollbar, prevents initial gap */
}

body { font-family: Sans-Serif;margin:0; background:yellow;}

  ul{list-style-type:none;} 
  a {cursor:pointer;}




/* ---- grid ---- */
/* ---- grid ---- */
.grid {
  background: none;
  width:90%;margin:0 5%;margin-bottom:100px
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
  
.gutter-sizer { width: 4%; }
  
.grid-item {
  overflow:hidden;    
  float: left;
  height: 350px;
  background: #C09;
  /*border: 1px solid black;border-inset:10px;  */
}

.outaline{
  outline: 1px solid grey; 
  outline-inset:10px;
}

.grid-item--large {
  position:absolute !important;
  top:0;
  width: 100%;
  height: auto;
  background: pink;
  text-align:center; 
}
/* ---- grid ---- */
/* ---- grid ---- */


/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB media queries -------------------------------*/ 
/*------------------------------------------------ BBB media queries -------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

@media only screen and (max-width: 400px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .image_boob{background:orange;width:100% !important;margin:0 !important;}
  .image_boob img{width:100% ;}
  .image_boob .tall, .image_boob .wide{width:100% !important;margin:0 !important;}
} 
  
@media only screen and (max-width: 1480px) and (min-width: 760px) {
  .grid-sizer,
  .grid-item {
    width: 30.65%;
  }
} 

@media only screen and (max-width: 760px) and (min-width: 400px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
} 

/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE media queries -------------------------------*/ 
/*------------------------------------------------ EEE media queries -------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 







/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB big image -----------------------------------*/ 
/*------------------------------------------------ BBB big image -----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

.big_image{
  background:none;
  width:80%;
  margin:0 10%;
  display:block;
  transition:0;
  .tall{
    width:60%;
    margin:0 20%;
    display:block;
    background:lightyellow;
   }
  .wide{
    width:90%;
    margin:0 5%;
    display:block;
    background:pink;
  }
}  

.big_image img{width:100%;margin:0;}
.big_image .tall p{background:white;border:1px solid black;width:100%;margin:15px 0;height:150px;text-align:left;}  
.big_image .wide p{background:white;border:1px solid black;width:100%;margin:15px 0;height:150px;text-align:left;}  

/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE big image -----------------------------------*/ 
/*------------------------------------------------ EEE big image -----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 









/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB top menu ------------------------------------*/ 
/*------------------------------------------------ BBB top menu ------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
  
  .menu_bar {
    background:none;height:40px;width:90%;margin:30px 5% 150px 5%;position:relative;
    transition: height .5s;
  }
  .menubar_xpand{height:250px !important;border:1px solid lightgrey;transition:height .5s;}
  
  .menu_bar .logo{float:left;margin-left:15px;line-height:40px}
  .menu {
    position:relative;z-index:99;float:right;margin:0;margin-right:0;width:80%;height:40px;
    background:none;line-height:40px
  }
  .menu_bar .menu li {
    font-family: 'Shadows Into Light', cursive;
    float:right;background:none;width:15%;margin-right:15px;font-size:20px;text-align:center;
  }
  
  #menu_wrapper { position: absolute;bottom:-40px;right:10px;width:100%;}
  
  .contact_hidden{height:83%;width:100%;margin:0;}
  .about_hidden{height:83%;width:100%;margin:0;}
  
  .hide{display:none}

  
  .about_hidden ul {background:none;width:100%;height:100%;margin:0;padding:0;}
  
  .about_hidden ul li{
    background:white;border:1px solid black;
    height:75%;margin-top:10px; transition:height.9s;
  }
   
  .about_hidden ul li img{height:98%;margin:1% auto;} 
  .about_hidden .right{position:absolute;right:50px; width: calc(100% - 500px);}
  .about_hidden .right .bussy{background:lightgreen; margin:10px;height:100%;line-height:30px;display:none;}
  .about_hidden .left{position:absolute;left:50px;width:150px;margin-top:20px;overflow:hidden;text-align:center;background:orange;}
  
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE top menu ------------------------------------*/ 
/*------------------------------------------------ EEE top menu ------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 







/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB grid ----------------------------------------*/ 
/*------------------------------------------------ BBB grid ----------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE grid ----------------------------------------*/ 
/*------------------------------------------------ EEE grid ----------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
/*-*/
 /*-*/
  /*-*/
   /*-*/
    /*-*/
     /*-*/
      /*-*/
       /*-*/
     /*-*/
    /*-*/
   /*-*/
  /*-*/
 /*-*/
/*-*/

  

/*--------------------- BBB .menu_bar ------------------*/
/*--------------------- BBB .menu_bar ------------------*/



/*--------------------- EEE .menu_bar ------------------*/ 
/*--------------------- EEE .menu_bar ------------------*/ 

  
 


/*-*/
 /*-*/
  /*-*/
   /*-*/
    /*-*/
     /*-*/
      /*-*/
       /*-*/
     /*-*/
    /*-*/
   /*-*/
  /*-*/
 /*-*/
/*-*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB images --------------------------------------*/ 
/*------------------------------------------------ BBB images --------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 

/*----------------------- BBB .big_image --------------------*/
/*----------------------- BBB .big_image --------------------*/


/*----------------------- EEE .big_image --------------------*/
/*----------------------- EEE .big_image --------------------*/



/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE images --------------------------------------*/ 
/*------------------------------------------------ EEE images --------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
/*-*/
 /*-*/
  /*-*/
   /*-*/
    /*-*/
     /*-*/
      /*-*/
       /*-*/
     /*-*/
    /*-*/
   /*-*/
  /*-*/
 /*-*/
/*-*/
/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ BBB animations ----------------------------------*/ 
/*------------------------------------------------ BBB animations ----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 


/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE animations ----------------------------------*/ 
/*------------------------------------------------ EEE animations ----------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 
/*-*/
 /*-*/
  /*-*/
   /*-*/
    /*-*/
     /*-*/
      /*-*/
       /*-*/
     /*-*/
    /*-*/
   /*-*/
  /*-*/
 /*-*/
/*-*/




/*--------------------------------------------------------------------------------------------------*/ 
/*------------------------------------------------ EEE media queries ------------------------------------*/ 
/*------------------------------------------------ EEE media queries ------------------------------------*/ 
/*--------------------------------------------------------------------------------------------------*/ 





   /*-----------------------################------#######------#######---------------------########--------------------------*/
   /*-----------------------################------########------#######---------------------#########------------------------*/
   /*-----------------------#####-----------------#########----########---------------------#####--#####---------------------*/
   /*-----------------------#####-----------------#####-#####---##########-------------------#####---###---------------------*/
   /*-----------------------#####-----------------#####--#####---###--######----------------#####-----####-------------------*/
   /*-----------------------################------#####---#####---#######---------------------#####----#####-----------------*/
   /*-----------------------################------#####----#####--#######---------------------#####-----######---------------*/
   /*-----------------------#####-----------------#####-----#####   ###---------------------#####------#####-----------------*/
   /*-----------------------#####-----------------#####------#####-####------------------#####---------###-------------------*/
   /*-----------------------#####-----------------#####-------#########------------------#####---------#####-----------------*/
   /*-----------------------################------#####--------########--------------------#####---######--------------------*/
   /*-----------------------################------#####---------#######---------------------########-------------------------*/
   /*-----------------------################------#####---------#######---------------------######---------------------------*/



